### IntelliJ IDEA ###
# Diretório de configuração do IDE
.idea/
# Arquivos de módulo do IntelliJ
*.iml
*.ipr
*.iws

# Arquivos gerados pelo IDE
out/
.idea_modules/

### Java ###
# Arquivos compilados
*.class
*.log

# Pacotes e arquivos temporários
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.nar
*.ctxt
.mtj.tmp/

# Arquivos de crash da JVM
hs_err_pid*
replay_pid*

### Sistemas de build ###
# Maven/Gradle
target/
build/
.gradle/

# Outros
*.swp
*.bak
*.orig
*~